@model Core.Models.TblSati

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSati</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KartNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KartNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SonKulanma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SonKulanma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cvv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cvv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
